/* App.css */

html, body, #root {
    height: 100%;
    margin: 0;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: pink;
    box-sizing: border-box;
}